@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --bs-body-font-family: "Manrope", sans-serif;
  --bs-primary: #2563EB;
  --bs-primary-border-color: #2563EB;
  --bs-primary-rgb: 37, 99, 235;
  --bs-link-color: #2563EB;
  --bs-navbar-brand-color: #2563EB;
  --bs-nav-pills-link-active-bg: #2563EB;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2563EB;
  --bs-btn-border-color: #2563EB;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1d4ed8;
  --bs-btn-hover-border-color: #1d4ed8;
  --bs-btn-focus-shadow-rgb: 37, 99, 235;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1e40af;
  --bs-btn-active-border-color: #1e40af;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2563EB;
  --bs-btn-disabled-border-color: #2563EB;
}

.btn-outline-primary {
  --bs-btn-color: #2563EB;
  --bs-btn-border-color: #2563EB;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2563EB;
  --bs-btn-hover-border-color: #2563EB;
  --bs-btn-focus-shadow-rgb: 37, 99, 235;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2563EB;
  --bs-btn-active-border-color: #2563EB;
  --bs-btn-disabled-color: #2563EB;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2563EB;
}

.btn-outline-light {
  --bs-btn-hover-color: #4284d9;
}

section {
  scroll-margin-top: 85px;
}
